html,body{
    height: 100%;
    width: 100%;
}
.button{
    width:  50px;
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}
.row{
    margin: 6px;
}
.main{
    border: 2px solid black;
    height: auto;
    margin: 600px;
    background: pink;
}